.DiceRollArea {
}

.dice-img {
  width: 50px;
  margin-right: 10px;
}

.button-roll-area {
  background-color: #f7b735;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
}
.dices-buttons-container {
  display: flex;
  align-items: center;
}
