/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* General styles */
.App {
  background-color: rgb(5, 48, 61);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

/* Header styles */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Logo and app name styles */
.app-title {
  display: flex;
}

.bunco-logo {
  display: flex;
  align-items: center;
  font-size: xx-large;
}

.bunco-title {
  display: flex;
  color: white;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}
/* Button styles */
.buttons {
  display: flex;
  align-items: center;
}

.button {
  background-color: #db3a34;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff7f50;
}

.player-name {
  padding-left: 20px;
}

.player-name p {
  display: inline;
  font-weight: bold;
}

.difficulty-name {
  padding-left: 20px;
}

.difficulty-name p {
  display: inline;
  font-weight: bold;
}

.footer {
  /* Ändern Sie die Ausrichtung auf flex-end, um die Buttons nach rechts zu verschieben */
  padding-top: 20px;
}
